html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #eee;
    background-image: url("../images/dust_scratches.png");
}

.padding-fix {  /* removes Bootstrap's default padding */
    padding: 0 !important;
}


/* NAVIGATION */
nav {
    width: 100%;
}

.navbar {
    min-height: 90px;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc; 
    margin-bottom: 40px;
    padding-left: 7%;
    padding-right: 7%;
}

.navbar-header {
    min-width: 25%;
    min-height: 90px;
    background-color: #4aaaa5;
    padding-top: 10px;
    margin-left: 20px;
}

h2 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
}

#brand {
    padding-left: 20px;
}

ul.nav {
    margin-top: 20px;
}

li > a {
    font-size: 1.125em;
}

.nav-link_portfolio {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}


/* LINK STYLING */
a:link {
    color: #777777;
    text-decoration: none;
}

a:hover {
    font-style: italic;
}

a:visited {
    color: #777777;
}


/* MAIN CONTENT PANEL */
.panel-title {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: #4aaaa5;
    font-size: 1.625em;
    font-weight: bold;
}

.bio-image {
    height: 150px;
    width: 200px;
    margin: 0 1em 0 0;
}

.panel_main-content {
    width: 100%;
    border: 1px solid #dddddd;
    background-color: white;
    padding: 40px 30px 10px 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 1.7em;
    font-size: 1.125em;
    margin-bottom: 80px;
}

.panel_main-content > hr {
    color: #dddddd;
    background-color: #dddddd;
    height: 3px;
    border: 0;
    margin: 30px 0;
}


/* CONTACT FORM */
#submit-button {
    background-color: #4aaaa5;
    color: white;
    font-size: 1em;
    padding: 10px 30px;
    border: none;
    margin-bottom: 10px;
}

#submit-button:hover {
    background-color: #5accc6;
} 


/* PORTFOLIO IMAGES */
img.project {
    margin-bottom: 55px;
    width: 100%;
    height: 100%;
}

.project-container {
    display: inline-block;
    position: relative;
}

.banner {
    width: 100%;
    background-color: #4aaaa5;
    color: white;
    font-size: 1.375em;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 75px;
}


/* SOCIAL MEDIA SIDEBAR */
.panel-title_social {
    font-size: 1.313em;
}

.panel_social-media {
    width: 100%;
    padding: 30px;
    margin-bottom: 80px;
    border: 1px solid #dddddd;
}

.panel_social-media > hr {
    color: #dddddd;
    background-color: #dddddd;
    height: 2px;
    border: 0;
    margin: 20px 0 15px 0;
}

.fa-stack-overflow.fa-5x {
    padding: 7px;
    font-size: 41px;
    color: #fff;
    background-color: #4aaaa5;
    border-radius: 0.25em;
    width: 55px;
    text-align: center;
    position: relative;
    bottom: 9px;
    opacity: .7;
}

.fa-linkedin-square.fa-5x {
    color: #4aaaa5;
    font-size: 65px;
    margin: 0 5%;
    opacity: .7;
}

.fa-github-square.fa-5x {
    color: #4aaaa5;
    font-size: 65px;
    opacity: .7;
}

.fa-linkedin-square.fa-5x:hover
 {
    color: #2d7ab4;
    opacity: 1;
}

.fa-github-square.fa-5x:hover{
    color: #333333;
    opacity: 1;
}

.fa-stack-overflow.fa-5x:hover 
 {
    background-color: #f4a73b;
    opacity: 1;
}


/* FOOTER AND COPYRIGHT INFO */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top: 7px solid #4aaaa5;
    height: 90px;
    padding-top: 35px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 0.750em;
    color: #c0c3c4;
}


/* RESPONSIVE OVERRIDES */

/* Keeps social icons inline at break points */
@media all and (max-width: 1112px) and (min-width: 992px) {
    .fa-linkedin-square.fa-5x, 
    .fa-github-square.fa-5x {
        font-size: 50px;
    }

    .fa-stack-overflow.fa-5x{
        font-size: 28px;
        width: 42.8px;
    }
}

/* Social icons to full opacity and original color for touch-screen devices */
@media all and (max-width: 768px){
    .fa-linkedin-square.fa-5x{
        color: #2d7ab4;
        opacity: 1;    
    } 
    .fa-github-square.fa-5x{
        color: #333333;
        opacity: 1;    
    }
    .fa-stack-overflow.fa-5x{
        background-color: #f4a73b;
        opacity: 1;    
    }
}