html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #eee;
    background-image: url("../images/dust_scratches.png");
}

.padding-fix {  /* removes Bootstrap's default padding */
    padding: 0 !important;
}


/* Navigation */

nav {
    width: 100%;
}

.navbar {
    min-height: 90px;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc; 
    margin-bottom: 40px;
}

.nav-container {
    width: 960px;
}

.navbar-header {
    min-width: 25%;
    min-height: 90px;
    background-color: #4aaaa5;
    padding-top: 10px;
}

h2 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
}

#brand {
    padding-left: 20px;
}

ul.nav {
    margin-top: 35px;
}

li.nav-link > a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 18px;
}


.nav-link_portfolio {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}


/* Link styling */

a:link {
    color: #777777;
    text-decoration: none;
}

a:hover {
    font-style: italic;
}

a:visited {
    color: #777777;
}


/* Main content panel */

.main-container {
    width: 960px;
}

.panel-title {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: #4aaaa5;
    font-size: 26px;
    font-weight: bold;
}

.bio-image {
    height: 150px;
    width: 200px;
    margin: 0 1em 0 0;
}

.panel_main-content {
    width: 100%;
    border: 1px solid #dddddd;
    background-color: white;
    padding: 40px 30px 10px 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 1.7em;
    font-size: 18px;
    margin-bottom: 80px;
}

.panel_main-content > hr {
    color: #dddddd;
    background-color: #dddddd;
    height: 3px;
    border: 0;
    margin: 30px 0;
}


/* Contact form */

#submit-button {
    background-color: #4aaaa5;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    margin-bottom: 10px;
}

#submit-button:hover {
    background-color: #5accc6;
} 


/* Portfolio images */

img.project {
    margin-bottom: 55px;
    width: 275px;
    height: 205px;
}

.project-container {
    display: inline-block;
    position: relative;
}

.banner {
    width: 100%;
    background-color: #4aaaa5;
    color: white;
    font-size: 22px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 75px;
}


/* Social media sidebar */

.panel-title_social {
    font-size: 21px;
}

.panel_social-media {
    /* width: 270px; */
    padding: 30px;
}

.panel_social-media > hr {
    color: #dddddd;
    background-color: #dddddd;
    height: 2px;
    border: 0;
    margin: 20px 0 15px 0;
}

.fa-stack-overflow.fa-5x {
    padding: 7px;
    font-size: 41px;
    color: #fff;
    background-color: #f4a73b;
    border-radius: 0.25em;
    width: 55px;
    text-align: center;
    margin-top: 5px;
    opacity: .7;
}

.fa-linkedin-square.fa-5x {
    color: #2d7ab4;
    font-size: 65px;
    opacity: .7;
}

.fa-linkedin-square.fa-5x:hover,
.fa-github-square.fa-5x:hover,
.fa-stack-overflow.fa-5x:hover 
 {
    opacity: 1;
}

.fa-github-square.fa-5x {
    color: #333333;
    font-size: 65px;
    opacity: .7;
}


/* Footer and copyright info */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top: 7px solid #4aaaa5;
    height: 90px;
    padding-top: 35px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    color: #c0c3c4;
}